<div id="view-statistics">
    <h1>{{'NAV_STATISTICS'|translate}}</h1>

    <form data-ng-submit="vm.select()">
        <div class="input-group row">
            <div class="col-sm-8">
                <label translate>INPUT_START</label>
                <input type="date" ng-model="vm.starttime" class="form-control">
            </div>
            <div class="col-sm-8">
                <label translate>INPUT_END</label>
                <input type="date" ng-model="vm.endtime" class="form-control">
            </div>
            <div class="col-sm-8">
                <button type="submit" class="btn btn-primary"><span translate>MODAL_SELECT</span></button>
            </div>
        </div>

    </form>

    <canvas id="line" class="chart chart-line" chart-data="vm.data"
            chart-labels="vm.labels" chart-legend="true" chart-series="vm.series" chart-colours="vm.colors">
    </canvas>

</div>
